
body{
    background-color: rgb(209, 209, 221);
}
/*==========Header And Nav================*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--logo{
    color: var(--tittle-color);
    font-weight: var(--font-bold);
}

.nav-toggle
.nav-close{
    font-size: 1.5rem;
    color: var(--tittle-color);
    cursor: pointer;
}

/*======== Navigation for Mobile devices ============*/
@media screen and (max-width:1150px){
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(var(--hue), 70%, 4%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 7rem 3rem;
        transition: right .4s;
    }
}

.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav-link{
    position: relative;
    columns: var(--tittle-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s
}

.nav-link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--first-color-light);
    position: absolute;
    left: 0;
    bottom: -5rem;
    transition: width .3s;
}

.nav-link:hover{
    color: var(--first-color-light);
}

.nav-link:hover::after{
    width: 30%;
}

.nav-close{
    position: absolute;
    top: 1rem;
    right: 1.5rcap;
}

/* Show Menu */
.show-menu{
    right: 0;
}

/* Home */
.home_container{
    row-gap: 2rem;
    padding-top: 1rem;
}
.home-img{
    width: 220px;
    justify-content: center;
    mask-image: linear-gradient(to bottom,
                 hsla(var(--hue),40%, 16%)60%,
                 transparent 100%);
}

.home_name{
    font: var(--biggest-font-size);
    font-weight: var(--font-bold);
    word-break: break-word;
    margin-bottom: 1rem;
}

.home_profession{
    position: relative;
    font-size: var(--biggest-font-size);
    color: var(--text-color);
}

.home_profession::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 25%;
    height: 3px;
    background-color: var(--text-color);
}

.home_scroll{
    color: var(--tittle-color);
    display: inline-flex;
    column-gap: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.home_scroll-box{
    background-color: var(--text-color);
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    /* overflow: hidden;    */
}
.home_scroll-text{
    font-weight: var(--font-semi-bold);
}
.home_scroll-box i{
    animation: scroll-dowm 3s infinite;
}

/*Animate scroll icon*/

@keyframes scroll-dowm{
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    0%{
        transform: translateY(.6rem);
        opacity: 0;
    }
}